@import url("../root.css");
.loading-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000e1;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 250;
}

img {
  width: 70px;
  height: 70px;
}
